$accent-color: #757575;
$gray-color: #2f303a;
$title-text-color: #212121;
$white-color: #ffffff;
$bg-white-color: #f5f4fa;
$blue-color: #2196f3;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: $accent-color;
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

%font {
  font-weight: 500;
  font-size: 16px;
}

@mixin centeredFlex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

// ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// lllllllllllllllllllllllllllllllllllllllllllllllllll

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}